@model MVCDemo.Models.Employee



<h1>Employee Details</h1>
<div style="font-family:Arial">
<table>
    <tr>
        <td>ID</td>
        <td>@Model.Id</td>
    </tr>
     <tr>
        <td>Name</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Gender</td>
        <td>@Model.Gender</td>
    </tr>
    <tr>
        <td>City</td>
        <td>@Model.City</td>
    </tr>
</table>
@Html.ActionLink("Back To List","indexforDept")
</div>