@model IEnumerable<MVCDemo.Models.Employee>
@using MVCDemo.Models

@using (Html.BeginForm("DeleteMultiple", "Employee", FormMethod.Post))
{
    <table border="1">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Select")
                </th>
                <th>
                    @Html.DisplayNameFor(model=> model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model=> model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model=> model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model=> model.Salary)
                </th>
                <th>
                    @Html.DisplayNameFor(model=> model.DepartmentId)
                </th>
                <th>
                    @Html.DisplayNameFor(model=> model.Department)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="employeeToDelete" value="employeeToDelete" id="@item.Id" />
                    </td>
                    <td>
                        @Html.DisplayFor(model=>item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model=>item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(model=>item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(model=>item.Salary)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.DepartmentId)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Department.Name)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input type="submit" value="Delete Multiple Employees" />
}
