@Model

<div style="font-family:Arial">

    @*Html helper for textbox*@
    @Html.TextBox("Name","Rushi", new{
    style="background-color:red",
    title="Please enter your first Name"
    })
    <br/>

    @*    text box with readonly*@
    @Html.TextBox("Name","Rushi", new{
    @class="redtextbox",
    @readonly="true"
    })
        <br/>


    @*    lable html helper *@
    @Html.Label("name","Name")
        <br/>


    @*    textbox for password*@
    @Html.Password("Password")
        <br/>


    @*    multiline text area
    *@
    @Html.TextArea("area","Enter Text",5,20,null)
        <br/>


    @*    hidden text box not visible generally used in server side posting. used to store ids thats not shown to users
    *@    @Html.Hidden("id")
        <br/>


    @*    dropdown list
    *@
    @Html.DropDownList("dropdown options",new List<SelectListItem>{
    new SelectListItem{Text="Option 1", Value="1"},
    new SelectListItem{Text="Option 2", Value="2"},
    new SelectListItem{Text="Option 3", Value="3"},
    },"select options")
        <br/>


    @*    generating dropdown list using viewbag in below departments is viewbag name coming from home controller
    *@
    @Html.DropDownList("departments","select department")
        <br/>



</div>