@model IEnumerable<MVCDemo.Models.DemoData>

<div style="font-family:Arial">
    <h2>DEMODATA</h2>
<div>

        <table border="1">
            <tr>
                <th>
                    @Html.DisplayNameFor(m=>m.Id)
                </th>
                 <th>
                    @Html.DisplayNameFor(m=>m.EmailAdress)
                </th>
                 <th>
                    @Html.DisplayNameFor(m=>m.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(m=>m.Salary)
                </th>
                <th>
                    @Html.DisplayNameFor(m=>m.PersonalWebsite)
                </th>
                 <th>
                    @Html.DisplayNameFor(m=>m.HireDate)
                </th>
                <th>
                    @Html.DisplayNameFor(m=>m.Gender)
                </th>
            </tr>
        </table>
</div>
</div>